@import "import";

body {
  background-color: #040507;
  color: $white;
  overflow: hidden;
}

.header-wrapper {
  overflow: hidden;
  width: 100%;
  height: 100%;
  text-align: center;
  position: relative;
  .block-rs {
    z-index: 9999;
    position: absolute;
    top: 50%;
    left: 0px;
    .rs {
      @include rs;
    }
  }
}
.bg1 {
  background-image: url("../images/background.jpg");
}
.bg2 {
  background-image: url("../images/background_long_final.png");
}
.zoominheader {
  width: 100%;
  height: 100%;
  text-align: center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  animation: zoomin 20s ease-in infinite;
  transition: all 0.5s ease-in-out;
  overflow: hidden;
}

/* The innermost element*/
.zoomoutheader {
  width: 100%;
  height: 100%;
  text-align: center;
  background: none;
  animation: zoomout 20s ease-in infinite;
  transition: all 0.2s ease-in-out;
  overflow: hidden;
}

@keyframes zoomin {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
} /*End of Zoom in Keyframes */

@keyframes zoomout {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.67);
  }
  100% {
    transform: scale(1);
  }
} /*End of Zoom out Keyframes */

@keyframes moonup {
  0% {
    background-position: top 0px left 30%;
    transform: scale(1.3);
  }

  /* 50% {
    background-position: top -800px left 50%;
  }
 */
  100% {
    background-position: top -500px left 50%;
    transform: scale(1);
  }
}

@keyframes disappear {
  0% {
    position: absolute;
  }
  100% {
    bottom: 100000px;
  }
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.timer {
  display: flex;
  width: 100%;
  max-width: 1200px;
  height: 100%;
  min-height: 80vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  a {
    margin-top: 60px;
    margin-left: 50px;
  }
}

li {
  display: inline-block;
  font-size: 1.5em;
  list-style-type: none;
  padding: 1em;
  text-transform: uppercase;
  font-family: $font-avenir;
  text-align: center;
}

li span#days,
li span#hours,
li span#minutes,
li span#seconds {
  display: block;
  font-size: 4.5rem;
  font-family: $font-monument;
}
li.deux-points {
  font-size: 4.5rem;
  font-family: $font-monument;
}
@media all and (max-width: 768px) {
  h1 {
    font-size: calc(1.5rem * var(--smaller));
  }

  li {
    font-size: calc(1.125rem * var(--smaller));
  }

  li span {
    font-size: calc(3.375rem * var(--smaller));
  }
}
