@import "import";

body {
  color: $white;
}

.header-wrapper {
  overflow: hidden;
  width: 100%;
  height: 100%;
  text-align: center;
  position: relative;
  .block-rs {
    z-index: 9999;
    position: absolute;
    top: 50%;
    left: 0px;
    .rs {
      @include rs;
    }
  }
}

.zoominheader {
  background-image: url("../images/background-final.jpg");
  width: 100%;
  height: 100%;
  text-align: center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
  animation: zoomin 20s ease-in infinite;
  overflow: hidden;
}

/* The innermost element*/
.zoomoutheader {
  width: 100%;
  height: 100%;
  text-align: center;
  background: none;
  animation: zoomout 20s ease-in infinite;
  overflow: hidden;
}

@keyframes zoomin {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
} /*End of Zoom in Keyframes */

@keyframes zoomout {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.67);
  }
  100% {
    transform: scale(1);
  }
} /*End of Zoom out Keyframes */

@keyframes moonup {
  0% {
    background-position: top 0px left 30%;
    transform: scale(1.3);
  }
  100% {
    background-position: top -700px left 50%;
    transform: scale(1);
  }
}

@keyframes disappear {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    display: none;
  }
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.timer {
  display: flex;
  width: 100%;
  max-width: 100vw;
  height: 100%;
  min-height: 80vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  a {
    margin-top: 60px;
    margin-left: 50px;
  }
}

li {
  display: inline-block;
  font-size: 1.5em;
  list-style-type: none;
  padding: 1em;
  text-transform: uppercase;
  font-family: $font-avenir;
  text-align: center;
}

li span#days,
li span#hours,
li span#minutes,
li span#seconds {
  display: block;
  font-size: 4.5rem;
  font-family: $font-monument;
}
li.deux-points {
  font-size: 4.5rem;
  font-family: $font-monument;
}
@media all and (max-width: 768px) {
  h1 {
    font-size: calc(1.5rem * var(--smaller));
  }

  li {
    font-size: calc(1.125rem * var(--smaller));
  }

  li span {
    font-size: calc(3.375rem * var(--smaller));
  }
}

.wrapper-post-timer {
  .buttons {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 100px;
  }
  #tracklist {
    .wrapper-list {
      display: flex;
      justify-content: center;
      align-items: center;
      counter-reset: my-awesome-counter;

      ol {
        list-style: none;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        li {
          display: flex;
          counter-increment: my-awesome-counter;
          align-items: center;
          &::before {
            content: counter(my-awesome-counter);
            color: $white;
            font-family: $font-monument;
            font-weight: bold;
            margin-right: 28px;
            font-size: 40px;
            width: 95px;
          }
          hr {
            height: 1px;
            width: 59px;
            background-color: $green;
            border: none;
            margin-inline-start: 0;
            margin-inline-end: 0;
          }
          span {
            margin-left: 78px;
          }
        }
      }
    }
  }
  footer {
    position: relative;
    height: 290px;
    img {
      width: 100%;
    }
    #moon-footer {
      position: absolute;
      bottom: 0;
      left: 0;
      z-index: -99;
    }
    #shade {
      position: absolute;
      right: 0;
      bottom: 0;
    }
  }
}

.d-none {
  display: none;
}

.cover {
  position: relative;
  margin: 100px auto;
  width: 600px;
  img {
    width: 600px;
    height: auto;
  }
  .image-hover {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 1s ease-out;
  }
  .image-hover:hover {
    opacity: 1;
  }
}


@mixin block-musique {
  display: flex;
  flex-direction: column;
  background-color: rgba($color: #f9f8f8, $alpha: 0.6);
  height: auto;
  width: 205px;
  justify-content: center;
  align-items: center;
  padding: 24px 18px 16px 18px;
  img#pochette {
    margin-bottom: 16px;
  }
  p {
    font-family: $font-avenir;
    font-size: 10px;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: lighter;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-bottom: 8px;
  }
  h3 {
    font-family: $font-monument;
    font-size: 14px;
    text-transform: uppercase;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-bottom: 8px;
  }
  button {
    background-color: transparent;
    border: none;
    &:hover {
      cursor: pointer;
    }
  }
}

body {
  overflow-x: hidden;
  background-color: $dark-black;
}

.qlf-wrapper {
  position: relative;
  .text-left {
    position: absolute;
    top: 25%;
    left: 120px;
    width: 590px;
    text-align: left;
  }
  .text-right {
    position: absolute;
    top: 25%;
    right: 120px;
    width: 590px;
    text-align: right;
    .wrapper-btn {
      display: flex;
      justify-content: flex-end;
    }
  }
  .text-left,
  .text-right {
    h1 {
      font-size: 64px;
      margin-block-start: 0.33em;
      margin-block-end: 0.33em;
    }
    h4 {
      margin-block-start: 0.33em;
      margin-block-end: 0.33em;
      margin-bottom: 10px;
      font-size: 40px;
      color: #f9f8f8;
      opacity: 0.4;
      font-family: $font-monument;
    }
    a {
      margin-top: 32px;
    }
    .dll {
      position: relative;
      width: 710px;
      margin-bottom: 30px;
      img {
        position: absolute;
        right: -47px;
        bottom: -20px;
      }
    }
    .deux {
      position: relative;
      img {
        position: absolute;
        right: -20px;
        bottom: -20px;
      }
    }
    p.p-dll {
      margin-top: 50px;
    }
  }
  .wrapper-btn-center {
    position: absolute;
    bottom: 25px;
    left: 50%;
    transform: translateX(-50%);
  }
  .block-musique-right {
    @include block-musique;
    position: absolute;
    top: 55%;
    right: 120px;
  }
  .block-musique-left {
    @include block-musique;
    position: absolute;
    top: 55%;
    left: 120px;
  }
}

footer {
  position: relative;
  #lune {
    position: absolute;
    right: 0;
    bottom: -150px;
  }
  #shadow {
    position: absolute;
    right: 0;
    bottom: -150px;
    z-index: 999;
  }
  .block-rs {
    display: flex;
    justify-content: center;
    align-items: center;
    .rs {
      @include rs;
    }
  }
}
.contact-h3 {
  margin-bottom: 40px;
} 
form#contact_form {
  width: 500px;
  margin: 0 auto;
  input[type='text'], [type='email'] {
    background: none;
    border: none;
    border-bottom: solid 2px #474544;
    color: #474544;
    font-size: 1.000em;
    font-weight: 400;
    letter-spacing: 1px;
    margin: 0em 0 1.875em 0;
    padding: 0 0 0.875em 0;
    text-transform: uppercase;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
  }
  
  input[type='text']:focus, [type='email']:focus, textarea:focus {
    outline: none;
    padding: 0 0 0.875em 0;
  }
  #form_button {
    background: none;
    border: solid 2px #474544;
    color: #474544;
    cursor: pointer;
    display: inline-block;
    font-family: 'Helvetica', Arial, sans-serif;
    font-size: 0.875em;
    font-weight: bold;
    outline: none;
    padding: 20px 35px;
    text-transform: uppercase;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
  }
  
  #form_button:hover {
    background: #474544;
    color: #F2F3EB;
  }
}