@import "import";

body {
  overflow-x: hidden;
  background-color: $dark-black;
}

.qlf-wrapper {
  position: relative;
  .text-left {
    position: absolute;
    top: 25%;
    left: 120px;
    width: 590px;
    h1 {
        font-size: 64px;
        margin-block-start: 0.33em;
        margin-block-end: .33em;

    }
    h4 {
        margin-block-start: .33em;
        margin-block-end: .33em;
        margin-bottom: 10px;
        font-size: 40px;
        color: #F9F8F8;
        opacity: 0.4;
        font-family: $font-monument;
    }
    a.pink-button {
        margin-top: 32px;
    }
  }
}
