@import "import.scss";

.wrapper-info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  p.intro {
    width: 320px;
    text-align: center;
    margin-bottom: 72px;
    padding-top: 30px;
  }
  .wrapper-img {
    position: relative;
    margin-bottom: 30px;
    .item {
      z-index: 100;
      padding: 5px;
    }
    .circle {
      border-radius: 50%;
      background-color: transparent;
      border: 3px solid $white;
      width: 150px;
      height: 150px;
      position: absolute;
      top: -25px;
      left: -27px;
      opacity: 0;
      animation: scaleIn 4s infinite cubic-bezier(.26,.56,.58,.99);
    }
  }
  a {
      margin-bottom: 30px;
  }
}

@keyframes scaleIn {
    from {
      transform: scale(.5, .5);
      opacity: .5;
    }
    to {
      transform: scale(1.17, 1.17);
      opacity: 0;
    }
  }