html,
body {
  padding: 0px;
  margin: 0px;
}

body {
  background-color: #141616;
  color: #fff;
}

.green {
  color: #68f5d4;
}

@font-face {
  font-family: "avenir";
  src: url("../font/Avenir.ttc") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Monument Regular";
  src: url("../font/MonumentExtended-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Monument Bold";
  src: url("../font/MonumentExtended-Ultrabold.otf") format("opentype");
  font-weight: bold;
  font-style: normal;
}
a.green-button {
  padding: 21px 44px;
  color: #141616;
  text-decoration: none;
  font-family: "Monument Bold";
  font-size: 28px;
  text-transform: uppercase;
  text-align: center;
  background-color: #68f5d4;
  display: block;
  width: 265px;
}
a.green-button:hover {
  transition: 0.2s ease-in;
  border: 1px solid #8f8d8d;
  filter: brightness(85%);
}
a.green-button.btn-qlf {
  font-size: 16px;
  width: 235px;
  padding: 20px 43px;
}

a.pink-button {
  padding: 21px 44px;
  color: #141616;
  text-decoration: none;
  font-family: "Monument Bold";
  font-size: 28px;
  text-transform: uppercase;
  text-align: center;
  background-color: #cc4e78;
  display: block;
  width: 265px;
}
a.pink-button:hover {
  transition: 0.2s ease-in;
  border: 1px solid #8f8d8d;
  filter: brightness(85%);
}
a.pink-button.btn-qlf {
  font-size: 16px;
  width: 235px;
  padding: 20px 43px;
}

a.red-button {
  padding: 21px 44px;
  color: #141616;
  text-decoration: none;
  font-family: "Monument Bold";
  font-size: 28px;
  text-transform: uppercase;
  text-align: center;
  background-color: #e1003a;
  display: block;
  width: 265px;
}
a.red-button:hover {
  transition: 0.2s ease-in;
  border: 1px solid #8f8d8d;
  filter: brightness(85%);
}
a.red-button.btn-qlf {
  font-size: 16px;
  width: 235px;
  padding: 20px 43px;
}

a.black-button {
  padding: 21px 44px;
  color: #141616;
  text-decoration: none;
  font-family: "Monument Bold";
  font-size: 28px;
  text-transform: uppercase;
  text-align: center;
  background-color: #010101;
  display: block;
  width: 265px;
  color: #68f5d4;
}
a.black-button:hover {
  transition: 0.2s ease-in;
  border: 1px solid #8f8d8d;
  filter: brightness(85%);
}
a.black-button.btn-qlf {
  font-size: 16px;
  width: 235px;
  padding: 20px 43px;
}

a.orange-button {
  padding: 21px 44px;
  color: #141616;
  text-decoration: none;
  font-family: "Monument Bold";
  font-size: 28px;
  text-transform: uppercase;
  text-align: center;
  background: #f7a901;
  background: linear-gradient(45deg, #f7a901 35%, #d44272 100%);
  display: block;
  width: 265px;
}
a.orange-button:hover {
  transition: 0.2s ease-in;
  border: 1px solid #8f8d8d;
  filter: brightness(85%);
}
a.orange-button.btn-qlf {
  font-size: 16px;
  width: 235px;
  padding: 20px 43px;
}

a.purple-button {
  padding: 21px 44px;
  color: #141616;
  text-decoration: none;
  font-family: "Monument Bold";
  font-size: 28px;
  text-transform: uppercase;
  text-align: center;
  background: #f7a901;
  background: linear-gradient(45deg, #52a8de 35%, #aa2e93 100%);
  display: block;
  width: 265px;
}
a.purple-button:hover {
  transition: 0.2s ease-in;
  border: 1px solid #8f8d8d;
  filter: brightness(85%);
}
a.purple-button.btn-qlf {
  font-size: 16px;
  width: 235px;
  padding: 20px 43px;
}

h1,
h2,
h3 {
  font-family: "Monument Regular";
}

p {
  font-family: "Avenir";
}

p.p-18 {
  font-size: 18px;
}

.banner-qlf {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #010101;
  height: 208px;
}

html {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
}

body {
  background-color: #040507;
  color: #fff;
}

.header-wrapper {
  overflow: hidden;
  width: 100%;
  height: 100%;
  text-align: center;
  position: relative;
}
.header-wrapper .block-rs {
  z-index: 9999;
  position: absolute;
  top: 50%;
  left: 0px;
}
.header-wrapper .block-rs .rs {
  margin: 15px;
  padding: 8px 8px;
  width: 20px;
  height: 20px;
  position: relative;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-wrapper .block-rs .rs img {
  margin-left: 2px;
}
.header-wrapper .block-rs .rs::before {
  content: "";
  width: 100%;
  height: 100%;
  border: 1px solid #fff;
  position: absolute;
  left: 0;
  top: 0;
  transition: all 0.4s;
}
.header-wrapper .block-rs .rs:hover::before {
  border-color: #68f5d4;
  color: #68f5d4;
  fill: #68f5d4;
  transform: rotate(45deg);
}

.zoominheader {
  background-image: url("../images/background-final.jpg");
  width: 100%;
  height: 100%;
  text-align: center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
  animation: zoomin 20s ease-in infinite;
  overflow: hidden;
}

/* The innermost element*/
.zoomoutheader {
  width: 100%;
  height: 100%;
  text-align: center;
  background: none;
  animation: zoomout 20s ease-in infinite;
  overflow: hidden;
}

@keyframes zoomin {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}
/*End of Zoom in Keyframes */
@keyframes zoomout {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.67);
  }
  100% {
    transform: scale(1);
  }
}
/*End of Zoom out Keyframes */
@keyframes moonup {
  0% {
    background-position: top 0px left 30%;
    transform: scale(1.3);
  }
  100% {
    background-position: top -700px left 50%;
    transform: scale(1);
  }
}
@keyframes disappear {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    display: none;
  }
}
nav {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.timer {
  display: flex;
  width: 100%;
  max-width: 100vw;
  height: 100%;
  min-height: 80vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.timer a {
  margin-top: 60px;
  margin-left: 50px;
}

li {
  display: inline-block;
  font-size: 1.5em;
  list-style-type: none;
  padding: 1em;
  text-transform: uppercase;
  font-family: "Avenir";
  text-align: center;
}

li span#days,
li span#hours,
li span#minutes,
li span#seconds {
  display: block;
  font-size: 4.5rem;
  font-family: "Monument Regular";
}

li.deux-points {
  font-size: 4.5rem;
  font-family: "Monument Regular";
}

@media all and (max-width: 768px) {
  h1 {
    font-size: calc(1.5rem * var(--smaller));
  }

  li {
    font-size: calc(1.125rem * var(--smaller));
  }

  li span {
    font-size: calc(3.375rem * var(--smaller));
  }
}
.wrapper-post-timer .buttons {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 100px;
}
.wrapper-post-timer #tracklist .wrapper-list {
  display: flex;
  justify-content: center;
  align-items: center;
  counter-reset: my-awesome-counter;
}
.wrapper-post-timer #tracklist .wrapper-list ol {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.wrapper-post-timer #tracklist .wrapper-list ol li {
  display: flex;
  counter-increment: my-awesome-counter;
  align-items: center;
}
.wrapper-post-timer #tracklist .wrapper-list ol li::before {
  content: counter(my-awesome-counter);
  color: #fff;
  font-family: "Monument Regular";
  font-weight: bold;
  margin-right: 28px;
  font-size: 40px;
  width: 95px;
}
.wrapper-post-timer #tracklist .wrapper-list ol li hr {
  height: 1px;
  width: 59px;
  background-color: #68f5d4;
  border: none;
  margin-inline-start: 0;
  margin-inline-end: 0;
}
.wrapper-post-timer #tracklist .wrapper-list ol li span {
  margin-left: 78px;
}
.wrapper-post-timer footer {
  position: relative;
  height: 290px;
}
.wrapper-post-timer footer img {
  width: 100%;
}
.wrapper-post-timer footer #moon-footer {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -99;
}
.wrapper-post-timer footer #shade {
  position: absolute;
  right: 0;
  bottom: 0;
}

.d-none {
  display: none;
}

.cover {
  position: relative;
  margin: 100px auto;
  width: 600px;
}
.cover img {
  width: 600px;
  height: auto;
}
.cover .image-hover {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 1s ease-out;
}
.cover .image-hover:hover {
  opacity: 1;
}

body {
  overflow-x: hidden;
  background-color: #010101;
}

.qlf-wrapper {
  position: relative;
}
.qlf-wrapper .text-left {
  position: absolute;
  top: 25%;
  left: 120px;
  width: 590px;
  text-align: left;
}
.qlf-wrapper .text-right {
  position: absolute;
  top: 25%;
  right: 120px;
  width: 590px;
  text-align: right;
}
.qlf-wrapper .text-right .wrapper-btn {
  display: flex;
  justify-content: flex-end;
}
.qlf-wrapper .text-left h1,
.qlf-wrapper .text-right h1 {
  font-size: 64px;
  margin-block-start: 0.33em;
  margin-block-end: 0.33em;
}
.qlf-wrapper .text-left h4,
.qlf-wrapper .text-right h4 {
  margin-block-start: 0.33em;
  margin-block-end: 0.33em;
  margin-bottom: 10px;
  font-size: 40px;
  color: #f9f8f8;
  opacity: 0.4;
  font-family: "Monument Regular";
}
.qlf-wrapper .text-left a,
.qlf-wrapper .text-right a {
  margin-top: 32px;
}
.qlf-wrapper .text-left .dll,
.qlf-wrapper .text-right .dll {
  position: relative;
  width: 710px;
  margin-bottom: 30px;
}
.qlf-wrapper .text-left .dll img,
.qlf-wrapper .text-right .dll img {
  position: absolute;
  right: -47px;
  bottom: -20px;
}
.qlf-wrapper .text-left .deux,
.qlf-wrapper .text-right .deux {
  position: relative;
}
.qlf-wrapper .text-left .deux img,
.qlf-wrapper .text-right .deux img {
  position: absolute;
  right: -20px;
  bottom: -20px;
}
.qlf-wrapper .text-left p.p-dll,
.qlf-wrapper .text-right p.p-dll {
  margin-top: 50px;
}
.qlf-wrapper .wrapper-btn-center {
  position: absolute;
  bottom: 25px;
  left: 50%;
  transform: translateX(-50%);
}
.qlf-wrapper .block-musique-right {
  display: flex;
  flex-direction: column;
  background-color: rgba(249, 248, 248, 0.6);
  height: auto;
  width: 205px;
  justify-content: center;
  align-items: center;
  padding: 24px 18px 16px 18px;
  position: absolute;
  top: 55%;
  right: 120px;
}
.qlf-wrapper .block-musique-right img#pochette {
  margin-bottom: 16px;
}
.qlf-wrapper .block-musique-right p {
  font-family: "Avenir";
  font-size: 10px;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: lighter;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-bottom: 8px;
}
.qlf-wrapper .block-musique-right h3 {
  font-family: "Monument Regular";
  font-size: 14px;
  text-transform: uppercase;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-bottom: 8px;
}
.qlf-wrapper .block-musique-right button {
  background-color: transparent;
  border: none;
}
.qlf-wrapper .block-musique-right button:hover {
  cursor: pointer;
}
.qlf-wrapper .block-musique-left {
  display: flex;
  flex-direction: column;
  background-color: rgba(249, 248, 248, 0.6);
  height: auto;
  width: 205px;
  justify-content: center;
  align-items: center;
  padding: 24px 18px 16px 18px;
  position: absolute;
  top: 55%;
  left: 120px;
}
.qlf-wrapper .block-musique-left img#pochette {
  margin-bottom: 16px;
}
.qlf-wrapper .block-musique-left p {
  font-family: "Avenir";
  font-size: 10px;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: lighter;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-bottom: 8px;
}
.qlf-wrapper .block-musique-left h3 {
  font-family: "Monument Regular";
  font-size: 14px;
  text-transform: uppercase;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-bottom: 8px;
}
.qlf-wrapper .block-musique-left button {
  background-color: transparent;
  border: none;
}
.qlf-wrapper .block-musique-left button:hover {
  cursor: pointer;
}

footer {
  position: relative;
}
footer #lune {
  position: absolute;
  right: 0;
  bottom: -150px;
}
footer #shadow {
  position: absolute;
  right: 0;
  bottom: -150px;
  z-index: 999;
}
footer .block-rs {
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .block-rs .rs {
  margin: 15px;
  padding: 8px 8px;
  width: 20px;
  height: 20px;
  position: relative;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .block-rs .rs img {
  margin-left: 2px;
}
footer .block-rs .rs::before {
  content: "";
  width: 100%;
  height: 100%;
  border: 1px solid #fff;
  position: absolute;
  left: 0;
  top: 0;
  transition: all 0.4s;
}
footer .block-rs .rs:hover::before {
  border-color: #68f5d4;
  color: #68f5d4;
  fill: #68f5d4;
  transform: rotate(45deg);
}

.contact-h3 {
  margin-bottom: 40px;
}

form#contact_form {
  width: 500px;
  margin: 0 auto;
}
form#contact_form input[type=text], form#contact_form [type=email] {
  background: none;
  border: none;
  border-bottom: solid 2px #474544;
  color: #474544;
  font-size: 1em;
  font-weight: 400;
  letter-spacing: 1px;
  margin: 0em 0 1.875em 0;
  padding: 0 0 0.875em 0;
  text-transform: uppercase;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
form#contact_form input[type=text]:focus, form#contact_form [type=email]:focus, form#contact_form textarea:focus {
  outline: none;
  padding: 0 0 0.875em 0;
}
form#contact_form #form_button {
  background: none;
  border: solid 2px #474544;
  color: #474544;
  cursor: pointer;
  display: inline-block;
  font-family: "Helvetica", Arial, sans-serif;
  font-size: 0.875em;
  font-weight: bold;
  outline: none;
  padding: 20px 35px;
  text-transform: uppercase;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
form#contact_form #form_button:hover {
  background: #474544;
  color: #F2F3EB;
}

/*# sourceMappingURL=countdown.css.map */
