html,
body {
  padding: 0px;
  margin: 0px;
}

body {
  background-color: #141616;
  color: #fff;
}

.green {
  color: #68f5d4;
}

@font-face {
  font-family: "avenir";
  src: url("../font/Avenir.ttc") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Monument Regular";
  src: url("../font/MonumentExtended-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Monument Bold";
  src: url("../font/MonumentExtended-Ultrabold.otf") format("opentype");
  font-weight: bold;
  font-style: normal;
}
a.green-button {
  padding: 21px 44px;
  color: #141616;
  text-decoration: none;
  font-family: "Monument Bold";
  font-size: 28px;
  text-transform: uppercase;
  text-align: center;
  background-color: #68f5d4;
  display: block;
  width: 265px;
}
a.green-button:hover {
  background-color: #68f5d4;
  transition: 0.2s ease-in;
  border: 1px solid #8f8d8d;
}

a.pink-button {
  padding: 21px 44px;
  color: #141616;
  text-decoration: none;
  font-family: "Monument Bold";
  font-size: 28px;
  text-transform: uppercase;
  text-align: center;
  background-color: #cc4e78;
  display: block;
  width: 265px;
}
a.pink-button:hover {
  background-color: #cc4e78;
  transition: 0.2s ease-in;
  border: 1px solid #8f8d8d;
}

h1,
h2,
h3 {
  font-family: "Monument Regular";
}

p {
  font-family: "Avenir";
}

p.p-18 {
  font-size: 18px;
}

.banner-qlf {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #010101;
  height: 208px;
}

body {
  background-color: #141616;
  color: #fff;
  overflow: hidden;
}

.header-wrapper {
  overflow: hidden;
  width: 100%;
  height: 100%;
  text-align: center;
  position: relative;
}
.header-wrapper .block-rs {
  z-index: 9999;
  position: absolute;
  top: 50%;
  left: 0px;
}
.header-wrapper .block-rs .rs {
  margin: 15px;
  padding: 8px 8px;
  width: 20px;
  height: 20px;
  position: relative;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-wrapper .block-rs .rs img {
  margin-left: 2px;
}
.header-wrapper .block-rs .rs::before {
  content: "";
  width: 100%;
  height: 100%;
  border: 1px solid #fff;
  position: absolute;
  left: 0;
  top: 0;
  transition: all 0.4s;
}
.header-wrapper .block-rs .rs:hover::before {
  border-color: #68f5d4;
  color: #68f5d4;
  fill: #68f5d4;
  transform: rotate(45deg);
}

.zoominheader {
  width: 100%;
  height: 100%;
  text-align: center;
  background-image: url("../images/background.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  animation: zoomin 20s ease-in infinite;
  transition: all 0.5s ease-in-out;
  overflow: hidden;
}

/* The innermost element*/
.zoomoutheader {
  width: 100%;
  height: 100%;
  text-align: center;
  background: none;
  animation: zoomout 20s ease-in infinite;
  transition: all 0.2s ease-in-out;
  overflow: hidden;
}

@keyframes zoomin {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}
/*End of Zoom in Keyframes */
@keyframes zoomout {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.67);
  }
  100% {
    transform: scale(1);
  }
}
/*End of Zoom out Keyframes */
nav {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.timer {
  display: flex;
  width: 100%;
  max-width: 1200px;
  height: 100%;
  min-height: 80vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.timer a {
  margin-top: 60px;
  margin-left: 50px;
}

li {
  display: inline-block;
  font-size: 1.5em;
  list-style-type: none;
  padding: 1em;
  text-transform: uppercase;
  font-family: "Avenir";
  text-align: center;
}

li span#days,
li span#hours,
li span#minutes,
li span#seconds {
  display: block;
  font-size: 4.5rem;
  font-family: "Monument Regular";
}

li.deux-points {
  font-size: 4.5rem;
  font-family: "Monument Regular";
}

@media all and (max-width: 768px) {
  h1 {
    font-size: calc(1.5rem * var(--smaller));
  }

  li {
    font-size: calc(1.125rem * var(--smaller));
  }

  li span {
    font-size: calc(3.375rem * var(--smaller));
  }
}

/*# sourceMappingURL=countdown.css.map */
