html,
body {
  padding: 0px;
  margin: 0px;
}

body {
  background-color: #141616;
  color: #fff;
}

.green {
  color: #68f5d4;
}

@font-face {
  font-family: "avenir";
  src: url("../font/Avenir.ttc") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Monument Regular";
  src: url("../font/MonumentExtended-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Monument Bold";
  src: url("../font/MonumentExtended-Ultrabold.otf") format("opentype");
  font-weight: bold;
  font-style: normal;
}
a.green-button {
  padding: 21px 44px;
  color: #141616;
  text-decoration: none;
  font-family: "Monument Bold";
  font-size: 28px;
  text-transform: uppercase;
  text-align: center;
  background-color: #68f5d4;
  display: block;
  width: 265px;
}
a.green-button:hover {
  transition: 0.2s ease-in;
  border: 1px solid #8f8d8d;
  filter: brightness(85%);
}
a.green-button.btn-qlf {
  font-size: 16px;
  width: 235px;
  padding: 20px 43px;
}

a.pink-button {
  padding: 21px 44px;
  color: #141616;
  text-decoration: none;
  font-family: "Monument Bold";
  font-size: 28px;
  text-transform: uppercase;
  text-align: center;
  background-color: #cc4e78;
  display: block;
  width: 265px;
}
a.pink-button:hover {
  transition: 0.2s ease-in;
  border: 1px solid #8f8d8d;
  filter: brightness(85%);
}
a.pink-button.btn-qlf {
  font-size: 16px;
  width: 235px;
  padding: 20px 43px;
}

a.red-button {
  padding: 21px 44px;
  color: #141616;
  text-decoration: none;
  font-family: "Monument Bold";
  font-size: 28px;
  text-transform: uppercase;
  text-align: center;
  background-color: #e1003a;
  display: block;
  width: 265px;
}
a.red-button:hover {
  transition: 0.2s ease-in;
  border: 1px solid #8f8d8d;
  filter: brightness(85%);
}
a.red-button.btn-qlf {
  font-size: 16px;
  width: 235px;
  padding: 20px 43px;
}

a.orange-button {
  padding: 21px 44px;
  color: #141616;
  text-decoration: none;
  font-family: "Monument Bold";
  font-size: 28px;
  text-transform: uppercase;
  text-align: center;
  background: #f7a901;
  background: linear-gradient(45deg, #f7a901 35%, #d44272 100%);
  display: block;
  width: 265px;
}
a.orange-button:hover {
  transition: 0.2s ease-in;
  border: 1px solid #8f8d8d;
  filter: brightness(85%);
}
a.orange-button.btn-qlf {
  font-size: 16px;
  width: 235px;
  padding: 20px 43px;
}

a.purple-button {
  padding: 21px 44px;
  color: #141616;
  text-decoration: none;
  font-family: "Monument Bold";
  font-size: 28px;
  text-transform: uppercase;
  text-align: center;
  background: #f7a901;
  background: linear-gradient(45deg, #52a8de 35%, #aa2e93 100%);
  display: block;
  width: 265px;
}
a.purple-button:hover {
  transition: 0.2s ease-in;
  border: 1px solid #8f8d8d;
  filter: brightness(85%);
}
a.purple-button.btn-qlf {
  font-size: 16px;
  width: 235px;
  padding: 20px 43px;
}

h1,
h2,
h3 {
  font-family: "Monument Regular";
}

p {
  font-family: "Avenir";
}

p.p-18 {
  font-size: 18px;
}

.banner-qlf {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #010101;
  height: 208px;
}

html {
  scroll-behavior: smooth;
}

.wrapper-info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.wrapper-info p.intro {
  width: 320px;
  text-align: center;
  margin-bottom: 72px;
  padding-top: 30px;
}
.wrapper-info .wrapper-img {
  position: relative;
  margin-bottom: 30px;
}
.wrapper-info .wrapper-img .item {
  z-index: 100;
  padding: 5px;
}
.wrapper-info .wrapper-img .circle {
  border-radius: 50%;
  background-color: transparent;
  border: 3px solid #fff;
  width: 150px;
  height: 150px;
  position: absolute;
  top: -25px;
  left: -27px;
  opacity: 0;
  animation: scaleIn 4s infinite cubic-bezier(0.26, 0.56, 0.58, 0.99);
}
.wrapper-info a {
  margin-bottom: 30px;
}

@keyframes scaleIn {
  from {
    transform: scale(0.5, 0.5);
    opacity: 0.5;
  }
  to {
    transform: scale(1.17, 1.17);
    opacity: 0;
  }
}

/*# sourceMappingURL=style.css.map */
